<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ControlAudios.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ControlAudios.Properties.Settings>
            <setting name="textBoxField" serializeAs="String">
                <value />
            </setting>
            <setting name="numbers" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="audioNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="path" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="format" serializeAs="String">
                <value />
            </setting>
            <setting name="Valor" serializeAs="String">
                <value />
            </setting>
        </ControlAudios.Properties.Settings>
    </userSettings>
</configuration>